
$blackGradient1: linear-gradient(0deg, #101213, #101213),
linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

$whiteOriginal: #FFFFFF;

$white:#CBD5E1;
$white2:#FFFFFF99;
$white3: #F3F3F3;
$white4: #94A3B8;
$white5: #F6FBFD99;
$white6: #EEF8FB;
$white7: #AFAFAF;



$gray:  #30363D;
$gray2:  #313131;
$gray3: #23262A4D;
$gray4: #101112;
$gray5:  #FFFFFF1A;

$green: #4ADE80;
$green2: #9EFF71;



$blue: #2563EB;
$blue2: #7EB9FF;

$blueviolet:  #7C3AED;
$blueviolet-light: #B4B9FF;

$red: #FF517C;


$black: #1C1C1C;


$max-width-1920: 1920px;
$max-width-1650: 1650px;
$max-width-1500: 1500px;
$max-width-1400: 1400px;
$max-width-1200: 1200px;
$max-width-1300: 1300px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
$max-width-400: 400px;

