$blackGradient1: linear-gradient(0deg, #101213, #101213),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

$whiteOriginal: #ffffff;

$white: #cbd5e1;
$white2: #ffffff99;

$white3: #f3f3f3;
$white4: #94a3b8;
$white5: #f6fbfd99;
$white6: #eef8fb;
$white7: #afafaf;
$white8: #ffffff33;
$white9: #ffffffcc;
$white10: #ffffff59;
$white11: #fafafa;
$white12: #e3e3e3;
$white13: #ffffffbf;
$white14: #ffffff8a;
$white15: #D2CDDB;

$gray: #30363d;
$gray2: #313131;
$gray3: #23262a4d;
$gray4: #101112;
$gray5: #ffffff1a;
$gray6: #22272b;
$gray7: #f6fbfd47;
$gray8: #ffffff4d;
$gray9: #4d525b;
$gray10: #fafafa29;
$gray11: #ffffff3d;
$gray12: #475569;
$gray13: #d1d5db;

$green: #4ade80;
$green2: #9eff71;
$green3: #24c38e;
$green4: #a6ee43;
$green5:  #5AD8CC;

$blue: #2563eb;
$blue2: #7eb9ff;
$blue3: #57bcff;
$blue4: #3dadff;

$primary: #0078d2;

$blueviolet: #7c3aed;
$blueviolet-light: #b4b9ff;

$red: #ff517c;
$red2: #eb3333;
$red3: #f73b3b;
$red4: #fe4343;

$black: #1c1c1c;
$black2: #161a1d;
$black3: #101213;
$black4: #211D28;

$orange: #f38b01;

$max-width-1920: 1920px;
$max-width-1650: 1650px;
$max-width-1500: 1500px;
$max-width-1400: 1400px;
$max-width-1200: 1200px;
$max-width-1300: 1300px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
$max-width-400: 400px;
