@use "../../assets/scss/mixin";
@use "../../assets/scss/variables";

.form-section {
  position: relative;
  z-index: 2;

  @include mixin.screen-max-width-576 {
    .container-big {
      padding: 0 10px;
    }
  }
}
.form-bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  @include mixin.screen-max-width-991 {
    display: none;
  }
}
.form-body {
  gap: 48px;

  @include mixin.screen-max-width-991 {
    flex-direction: column-reverse;
    gap: 37px;
  }
}
.form-description {
  max-width: 547px;
  width: 100%;
}
.form-titles {
  flex-direction: column;

  @include mixin.screen-max-width-576 {
    padding: 0 10px;
  }

  h2 {
    font-weight: 900;
    font-size: 64px;
    line-height: 135%;
    color: variables.$whiteOriginal;

    span {
      background: conic-gradient(
        from 0deg at 50% 50%,
        #5ed4ff,
        #cc81ff,
        #ffd445,
        #5ed4ff
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      display: inline-block;
    }

    @include mixin.screen-max-width-576 {
      font-size: 50px;
    }
  }
  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: variables.$white3;
    margin-top: 24px;
    max-width: 417px;
  }
}
.a-form-titles {
  h2 {
    font-weight: 900;
    font-size: 54px;
    line-height: 135%;
    color: variables.$whiteOriginal;

    @include mixin.screen-max-width-576 {
      font-size: 34px;
    }
  }
  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: variables.$white3;
    margin-top: 24px;
    max-width: 417px;

    @include mixin.screen-max-width-576 {
      font-size: 20px;
    }
  }
}

.form-texts {
  margin-top: 32px;
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    color: variables.$white3;
    margin-bottom: 6px;
  }
  a {
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    color: variables.$blueviolet-light;
  }
  @include mixin.screen-max-width-576 {
    margin-top: 0;
  }
}

.form {
  position: relative;
  padding: 32px 33px;
  border-radius: 30px;
  border: 1px solid transparent;
  gap: 25px;

  background: linear-gradient(180deg, #101213 54.08%, #46336e 163.03%)
      padding-box,
    conic-gradient(
        from 223.72deg at 50% 50%,
        #cc81ff 0deg,
        #5ed4ff 128.62deg,
        #ffd445 265.3deg,
        #cc81ff 360deg
      )
      border-box;
  box-shadow: 0px 6px 64.2px 1px #b68cff;

  @include mixin.screen-max-width-576 {
    padding: 33px 23px;

    background: linear-gradient(335.8deg, #08090a 35.63%, #21173f 111.43%)
        padding-box,
      conic-gradient(
          from 123.72deg at 120% 20%,
          #cc81ff 0deg,
          #5ed4ff 28.62deg,
          #ffd445 265.3deg,
          #cc81ff 160deg
        )
        border-box;
  }
}
.form-inputs {
  gap: 10px;

  @include mixin.screen-max-width-576 {
    flex-direction: column;
    align-items: self-start;

    &:nth-child(1) {
      margin-bottom: 20px;
    }
  }
}
.form-input {
  flex: 1 1 49%;
  @include mixin.screen-max-width-576 {
    flex: 1 1 100%;
    width: 100%;
  }
  label {
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: variables.$white;
      b {
        color: variables.$red;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
      }
    }

    input {
      width: 100%;
      height: 57px;
      background: transparent;
      border: 1px solid #334155;
      background: linear-gradient(0deg, #08090a, #08090a);
      border-radius: 12px;
      padding: 17px;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: variables.$whiteOriginal;
      margin-top: 12px;
      transition: 0.4s;

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: variables.$white4;
      }

      &:focus {
        border: 1px solid variables.$green;
      }
    }
  }
}

.email-input {
  margin-top: 20px;

  @include mixin.screen-max-width-576 {
    margin-top: 20px;
  }
}

.form-textarea {
  flex: 1 1 100%;
  label {
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: variables.$white;
    }

    textarea {
      width: 100%;
      height: 130px;
      background: transparent;
      border: 1px solid #334155;
      background: linear-gradient(0deg, #08090a, #08090a);
      border-radius: 12px;
      padding: 17px;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: variables.$whiteOriginal;
      margin-top: 12px;
      resize: none;
      transition: 0.4s;

      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: variables.$white4;
      }
      &:focus {
        border: 1px solid variables.$green;
      }
    }
  }
}
.form-btn {
  margin-top: 8px;

  button {
    font-weight: 600;

    @include mixin.screen-max-width-576 {
      width: 100%;
      box-shadow: unset;
    }
  }
}
