@use "../../assets/scss/mixin";
@use "../../assets/scss/variables";

.breadcrumbs-block {
  margin-top: 114px;
  position: relative;
  z-index: 3;

  ul {
    display: flex;
    align-items: center;
    gap: 20px;

    li {
      a {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: variables.$white5;
        transition: .4s;

        &.active{
            color: variables.$white6;

        }
      }

      i {
        background: variables.$white5;
        font-size: 10px;
        transform: rotate(-90deg);
      }
    }
  }
}
